In [7]:
a = []
b = [1,2,3]
c = ['My', 'name', 'is', 'MH']
d = [1,2,'My', 'name']
e = [1,2,['My', 'name']]
print(a)
print(b)
print(e)

[]
[1, 2, 3]
[1, 2, ['My', 'name']]

In [15]:
# 인덱싱 / 슬라이싱 실습
# 1. 내부의 값이 0부터 9까지 있는 리스트를 하나 만들어주세요
s = [0,1,2,3,4,5,6,7,8,9]
print(s)
# 인덱싱 문제
# 1-1. 숫자 4를 가져오세요
print(s[4])
#1-2. 숫자 4,9,7 가져오기
print(s[4], s[9], s[7])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
4
4 9 7

In [20]:
# 2. 숫자 1,2,3과 ['a','b','c']를 이용해서 2차원 리스트를 만들어보기
s1 = [1,2,3, ['a', 'b', 'c']]

[1, 2, 3, ['a', 'b', 'c']]

In [31]:
# 2-1 temp라는 변수를 지정해서 ['a', 'b'. 'c']가 들어있는 리스트를 인덱싱 해보자
temp = s1[3 ]
temp

['a', 'b', 'c']

In [32]:
# 2-2 temp에 저장된 리스트에서 b라는 문자만 인덱싱 해오자
temp[1]

'b'

In [34]:
#2-2 다른 형태로 b를 출력해보자
s1[3][1]

'b'

In [35]:
list3 = [[0,1,2,3],
         [4,5,6,7],
         [8,9,10,11],
         [12,13,14,15]]
list3

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]

In [38]:
list3[1][1]

5

In [ ]:
# 리스트 슬라이싱
# 슬라이싱 규칙
# 1. 인덱스에 숫자는 0부터 시작한다. 
# 2. 슬라이싱 끝 값은 항상 +1을 해준다

In [39]:
s

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
# 3부터 7까지의 숫자를 가져와주세요
s[3 : 8]

[3, 4, 5, 6, 7]

In [42]:
# 0부터 4까지의 숫자를 가져와주세요
s[ : 5]

[0, 1, 2, 3, 4]

In [43]:
# 6부터 9까지의 숫자 가져오기
s[6 : ]

[6, 7, 8, 9]

In [45]:
# 전체 숫자 가져오기
s

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
# 리스트 더하기
s + s

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
# 리스트 맨 뒤에 값을 추가해보자
list4 = [1,2,3,4,5]
list4

[1, 2, 3, 4, 5]

In [50]:
# append(추가해줄 값) : 리스트 맨 뒤에 값을 추가해주는 함수
list4.append(6)
list4

[1, 2, 3, 4, 5, 6, 6]

In [69]:
# 인덱싱 + append 실습
list_ = ['사과', '포도', ['수박', '멜론'], '복숭아', '딸기', '오렌지']
# 뽑아온 과일을 저장할 빈 리스트 선언
choice_list = []
apple = list_[0]
orange = list_[5]
watermelone = list_[2][0]
choice_list.append(apple), choice_list.append(orange), choice_list.append(watermelone)
# choice_list.extend([apple, orange, watermelone])

choice_list

['사과', '오렌지', '수박']

In [71]:
list5 = [0, 1, 2, 3, 4]
list5

[0, 1, 2, 3, 4]

In [72]:
# insert(인덱스 번호, 넣어줄 값)
list5.insert(1,5)
list5

[0, 5, 1, 2, 3, 4]

In [73]:
# insert 실습
music_list = [['CAMO', 'Freak like me'], 
              ['틴탑', '아침부터 아침까지'], 
              ['Post Malone', 'Rich and Sad']]
music_list

[['CAMO', 'Freak like me'],
 ['틴탑', '아침부터 아침까지'],
 ['Post Malone', 'Rich and Sad']]

In [75]:
# music_list 인덱스가 1인 곳에 ['창모', '메테오'] 추가
music_list.insert(1, ['창모', '메테오'] )
music_list

[['CAMO', 'Freak like me'],
 ['창모', '메테오'],
 ('창모', '메테오'),
 ['틴탑', '아침부터 아침까지'],
 ['Post Malone', 'Rich and Sad']]

In [90]:
# music_list 인덱스가 3인 곳에 ['장미여관', '퇴근하겠습니다'] 추가
music_list.insert(3, ['장미여관', '퇴근하겠습니다'])
music_list

[['CAMO', 'Freak like me'],
 ['창모', '메테오'],
 ['장미여관', '퇴근하겠습니다'],
 ['틴탑', '아침부터 아침까지'],
 ['노라조', '니팔자야'],
 ['Post Malone', 'Rich and Sad']]

In [98]:
# music_list 마지막에 ['노라조', '니팔자야'] 추가
# music_list.insert(-1 , ['노라조', '니팔자야'])
#del music_list[4]
music_list.append( ['노라조', '니팔자야'])
music_list

[['CAMO', 'Freak like me'],
 ['창모', '메테오'],
 ['장미여관', '퇴근하겠습니다'],
 ['틴탑', '아침부터 아침까지'],
 ['노라조', '니팔자야'],
 ['Post Malone', 'Rich and Sad'],
 ['노라조', '니팔자야'],
 ['노라조', '니팔자야']]

In [109]:
# 인덱스 번호 / 가수명 / 노래 제목 입력받는 입력문 만들기 -> 변수에 저장
number = int(input("인덱스 번호 입력하세요 >> "))
singer = input("가수를 입력하세요 >> ")
song = input("제목를 입력하세요 >> ")

# insert문을 이용해서 music_list에 새로운 값을 추가해주세요
music_list.insert(number, [singer, song])
music_list

인덱스 번호 입력하세요 >> 3
가수를 입력하세요 >> Day6
제목를 입력하세요 >> 한페이지어쩌구

[['태연', 'I'],
 ['CAMO', 'Freak like me'],
 ['창모', '메테오'],
 ['Day6', '한페이지어쩌구'],
 ['장미여관', '퇴근하겠습니다'],
 ['틴탑', '아침부터 아침까지'],
 ['노라조', '니팔자야'],
 ['Post Malone', 'Rich and Sad'],
 ['노라조', '니팔자야'],
 ['노라조', '니팔자야']]

In [117]:
print(s)
# 리스트 수정
print(s"수정 전 : {s[5]}")
s[5] = 10
print(s"수정 후 : {s[5]}")

SyntaxError: invalid syntax (2734109624.py, line 3)

In [120]:
list10 = [0,1,2,3,4,5,6,7,8,9]
list10[3:7]

[3, 4, 5, 6]

In [1]:
# 여러 개의 값을 바꿔보자 - 슬라이싱을 이용하자
list10 = [0,1,2,3,4,5,6,7,8,9]
list10[3 : 7] = [10]
list10

[0, 1, 2, 10, 7, 8, 9]

In [121]:
list10 = [0,1,2,3,4,5,6,7,8,9]
list10[3 : 7] = [10, 10, 10, 10]
list10

[0, 1, 2, 10, 10, 10, 10, 7, 8, 9]

In [142]:
array = [1,2,3,4,5]
array

[1, 2, 3, 4, 5]

In [143]:
# 하나의 값을 하나로 수정
array[4] = 7
array

[1, 2, 3, 4, 7]

In [144]:
# 하나의 값을 리스트로 수정
array[1] = ['a', 'b', 'c']
array

[1, ['a', 'b', 'c'], 3, 4, 7]

In [145]:
# 여러 개의 값을 여러 개로 수정
# -> 슬라이싱 이용
array[3 : ] = 'd', 'e', 'f', 'g'
array

[1, ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

In [146]:
# 하나의 값을 여러 개로 수정
array[0] = 'h'
array.insert(1, 'i')
array.insert(2, 'j')
array

['h', 'i', 'j', ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

In [147]:
array[0:1] = ['h', 'i', 'j']
array

['h', 'i', 'j', 'i', 'j', ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

In [149]:
# 리스트 값 삭제
list11 = [0,1,2,3,4,5]
# del 키워드 사용
del list11[3] # 인덱스 번호 넣어주기
list11

[0, 1, 2, 4, 5]

In [152]:
# 리스트 값 삭제(여러개의 값)
list11 = [0,1,2,3,4,5]

In [153]:
del list11[1 : 5]
list11

[0, 5]

In [154]:
# 값을 가지고 삭제 하는 방법 - remove()
list12 = ['a', 'b', 'c', 'd', 'e']
list12.remove('c') # 처음 만나는 해당 값을 지우고 되돌려준다.
list12

['a', 'b', 'd', 'e']

In [155]:
# 정렬 - sort() : 오름차순 정렬
list13 = [13, 27, 1, 32, 45, 7]
list13.sort()
list13

[1, 7, 13, 27, 32, 45]

In [156]:
# 리스트를 반대로 뒤집는 함수 - reverse()
list13 = [13, 27, 1, 32, 45, 7]
list13.reverse()
list13

[7, 45, 32, 1, 27, 13]

In [162]:
# 내림차순 정렬을 진행해보자
list13 = [13, 27, 1, 32, 45, 7]
list13.sort(reverse=True)
list13

[45, 32, 27, 13, 7, 1]

In [167]:
# 리스트 값 위치 출력 / 제거 
list14 = ['a', 'b', 'c', 'd', 'e']

In [168]:
# 리스트 내부에 위치한 자료의 인덱스를 확인하는 방법
list14.index('c')

2

In [169]:
# pop() : 마지막 값을 출력 후 리스트에서 제거
list14.pop()

'e'

In [170]:
list14

['a', 'b', 'c', 'd']

In [172]:
# len(리스트) : 리스트 내부의 값 개수를 출력할 때 사용
# 반복문의 범위를 정하거나 리스트 내부의 데이터 개수를 체크할 때 사용
len(list14)

4

In [174]:
for i in range(len(list14)) : 
    print(list14[i])

a
b
c
d

In [ ]:
#튜플

In [181]:
a = ()
print(a)
b = (1,2,3)
print(b)
c = ('My', 'name', 'is', 'MH')
print(c)
d = (1,2, 'My', 'name')
print(d)
e= (1,2, ('My', "name"))
e

()
(1, 2, 3)
('My', 'name', 'is', 'MH')
(1, 2, 'My', 'name')

(1, 2, ('My', 'name'))

In [182]:
b[1]

2

In [184]:
b[1:3]

(2, 3)

In [185]:
len(b)

3

In [ ]:
# in() - 찾고자 하는 값(x)가 포함되어 있을 때 포함이 되면 True
#      - 아니면 False
# not in() - 찾고자 하는 값(x)가 포함되어 있을 때 포함이 되면 False
#      -  아니면 True

In [187]:
str1 = '마지막 시간입니다. 여러분들 고생하셨어요'

In [188]:
'마지막' in str1

True

In [189]:
'첫 시간' in str1

False

In [190]:
list13

[45, 32, 27, 13, 7, 1]

In [195]:
45 not in list13

False

In [212]:
# 문자열에 사용자가 입력한 글자가 몇 개 포함되어있는지 출력을 해주세요
s2 = '오늘은 금요일입니다. 주말이 얼마 남지 않았어요 '
# 입력문 받기
a = input("글 >>")
b = s2.count(a)
# 우리가 지정한 문장에서 입력받은 글자가 몇 개 있는지 체크하셈
# 조건문
if a in s2  :       
    print(f"{a}는(은) {b}번 들어있네요")
else :
    print(f"{a}는(은) 들어있지 않네유,,,,")

글 >>요
요는(은) 2번 들어있네요

In [208]:
a in s2

True