<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#제목1" data-toc-modified-id="제목1-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>제목1</a></span><ul class="toc-item"><li><span><a href="#제목-2" data-toc-modified-id="제목-2-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>제목 2</a></span><ul class="toc-item"><li><span><a href="#제목-3" data-toc-modified-id="제목-3-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>제목 3</a></span><ul class="toc-item"><li><span><a href="#제목-4" data-toc-modified-id="제목-4-1.1.1.1"><span class="toc-item-num">1.1.1.1&nbsp;&nbsp;</span>제목 4</a></span></li></ul></li><li><span><a href="#01-변수" data-toc-modified-id="01-변수-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>01 변수</a></span></li><li><span><a href="#인덱싱-/-슬라이싱(1회차)" data-toc-modified-id="인덱싱-/-슬라이싱(1회차)-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>인덱싱 / 슬라이싱(1회차)</a></span></li></ul></li></ul></li></ul></div>

In [1]:
# 앞의 색이 파란색이면 Commend mode (주피터 노트북 제어)
# 앞의 색이 노란색이면 Edit mode (코드 작성 및 내용 입력)
# 자바에서 주석은 //, 파이썬에서의 주석은 #

In [2]:
# Commend mode 조작법
# 파란 색상일 때 b : 아래에 셀 추가
# 파란 색상일 때 a : 위에 셀 추가
# Esc 누르면 색상 변함
# 파란 색상일 때 dd : 셀 삭제
# 파란 색상일 때 Enter : Edit Mode로 전환
# 파란 색상일 때 x : 셀 잘라내기
# 파란 색상일 때 v : 셀 붙여넣기

파란 색상일 때 m : 마크다운(연습장과 같은 역할
# 제목1
## 제목 2
### 제목 3
#### 제목 4
##### 제목 5
###### 제목 6
- 안녕하세요 오늘 파이썬 처음이시죠
    - 앞으로 파이선도 많이 사랑해주세요.

In [3]:
# 코드가 작성된 줄에서 실행은 ctrl + enter 
num1 = 1

In [4]:
num1

1

In [5]:
# 공통 단축키
# ctrl + enter : 현재 셀 실행
# shift + enter : 현재 셀 실행 후 아래 셀로 이동
# 파란색 상태에서 숫자 1,2,3 중 누르면 자동으로 제목 생성됨

In [6]:
# 만들어볼까요?

### 01 변수

In [7]:
num = 3
print(num)
num

3

3

In [8]:
num1 = 13
print(num1)

13

In [9]:
num2 = 25
print(num2)

25

In [10]:
num2 = 77
num2

77

In [11]:

num4 = 1.25
num4 = 3.12
num4

3.12

In [12]:
str1 = "Funny python"
str1

'Funny python'

In [13]:
str2 = 'Easy python'
str2

'Easy python'

In [14]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [15]:
a = 10
b = 15
print(a)
print(b)

10
15

In [16]:
a,b = 10,15
print(a)
print(b)

10
15

In [17]:
str1 = 'python'
str2 = 'python'
print(str1)
print(str2)

python
python

In [18]:
str1 = str2 = 'python'
print(str1)
print(str2)

python
python

In [19]:
x = 100
y = 200
sum1 = x + y
print(sum1)

300

In [21]:
sum([5,2,3,4])

14

In [31]:
s = 'she\'s gone'
s

"she's gone"

In [32]:
s = "she's gone"
s

"she's gone"

In [34]:
# 여러 줄로 구성된 문자열을 변수에 대입하고 싶을 때 
# 여러 줄로 구성된
# 문자열을 변수에 
# 대입하고 싶을 때 
# println * 3
# \n(개행 문자)
s = "여러 줄로 구성된 \n문자열을 하나로 \n출력하고 싶을 때"
print(s)

여러 줄로 구성된
문자열을 하나로
출력하고 싶을 때

In [38]:
s = """여러 줄로 구성된 
문자열을 
하나로 
출력하고 싶을 때"""
print(s)

여러 줄로 구성된
문자열을
하나로
출력하고 싶을 때

In [41]:
# 문자열 포맷팅
# 문자 내부에서 자주 바뀌는 부분을 변수 처리해서 원하는 결과를 출력하는 방법

am = 'HTML/CSS'
pm = '파이썬 라이브러리'



s = f"""
1교시 : {am}
2교시 : {am}
3교시 : {am}
4교시 : {am}
5교시 : {pm}
6교시 : {pm}
7교시 : {pm}"""
print(s)

1교시 : HTML/CSS
2교시 : HTML/CSS
3교시 : HTML/CSS
4교시 : HTML/CSS
5교시 : 파이썬 라이브러리
6교시 : 파이썬 라이브러리
7교시 : 파이썬 라이브러리

### 인덱싱 / 슬라이싱(1회차)
- 인덱싱 : 무엇인가를 '가리킨다'라는 의미
- 슬라이싱 : 무엇인가를 '잘라낸다'라는 의미

In [52]:
s = 'my name is KN'
#s[8]
s[12]

'N'

In [45]:
s[-2]

'K'

In [48]:
# 문자열 인덱싱 실습
# 여러분들의 이름 ㅎ이니셜에 해당하는 글자를 가져와주세요
s = 'my name is KW'

In [50]:
print(s[11])
print(s[12])

K
W

In [ ]:
# 인덱스의 시작번호는 항상 0부터 시작함
# 슬라이싱에서 인덱스의 끝 번호는 항상 어떻게 처리한다? +1을 해준다.

In [53]:
# 인덱싱으로 글자 하나한 가져오는 거 불편하다
# 범위를 정해서 단어를 가져와보자
# 데이터 슬라이싱 -> 끝번호는 미포함
# s[ 인덱스 시작번호 : 인덱스 끝번호 +1 ]
s[ 3:7 ]

'name'

In [3]:
s = 'my name is KW'

In [6]:
s[0:2]

my
is
KW

In [7]:
# is를 가져와보자
s[8:10]

'is'

In [8]:
# 이름 가져오기
s[11:13]

'KW'

In [10]:
s[-2 : ]

'KW'

In [11]:
# 슬라이싱에서 값을 생략하는 것에 대한 의미
# 변수 [ 시작값 인덱스 : 끝값 인덱스 + 1 ]
# 시작값이 생략되는 경우 -> 데이터의 처음부터(인덱스 번호 0번부터)
print(s[0:7])
print(s[ :7])

my name
my name

In [13]:
# 끝 값이 생략되는 경우 -> 데이터의 끝부분까지(인덱스 번호 마지막까지)
print(s[11 : 13])
print(s[11 :])

KW
KW

In [14]:
# 문자열에 처음부터 끝까지 모든 문자를 가져오고 싶으면 어떻게 해야할까?
s[ : ]

'my name is KW'

In [15]:
s

'my name is KW'

In [25]:
# 문자열 더하기
s1 = '안녕하세요'
s1 + s1

'안녕하세요안녕하세요'

In [27]:
# 다음과 같은 문자열에서 날짜와 날씨를 따로 뽑아서 출력해보자
s = '2024년 1월 30일의 날씨는 맑음입니다.'
s1 = '날짜 : '
s2 = s[ : 12]
print(s1+s2)
s3 = '날씨 : '
s4 = s[18:20]
print(s3 + s4)

print('날짜 : ' +  s[ : 12] )
print('날씨 : ' + s[-6 : -4])

날짜 : 2024년 1월 30일
날씨 : 맑음
날짜 : 2024년 1월 30일
날씨 : 맑음

In [30]:
# 문자열 포매팅 실습
# 문자열 포매팅 : 문자 내부의 특정한 값을 바꿔야 할 경우 사용
# 1. %d 포매팅
day = 14
s = '오늘은 1월 %d일 입니다.'%day
s

'오늘은 1월 14일 입니다.'

In [33]:
month = 2
day = 30
s = '오늘은 %d월 %d일 입니다.'%(month, day)
s

'오늘은 2월 30일 입니다.'

In [35]:
# 2. format함수를 이용한 포매팅
month = 2
day = 30
s = '오늘은 {}월 {}일 입니다.'.format(month, day)
s

'오늘은 2월 30일 입니다.'

In [36]:
# 3. f포매팅
month = 2
day = 30
s = f'오늘은 {month}월 {day}일 입니다.'
s

'오늘은 2월 30일 입니다.'

In [41]:
x = 100
y = 200
sum2 = x + y
s = f'{x}와 {y}의 합은 {sum2}입니다. '
s

'100와 200의 합은 300입니다. '

In [42]:
# strip() : 문자의 양쪽 공백을 없애주는 함수
s = "              안녕하세요           "
s.strip()

'안녕하세요'

In [43]:
# replace(기존의 문자, 바꿀 문자)
s = '안녕 하세요'
s.replace(" ", "")

'안녕하세요'

In [46]:
s = '안녕하세요, 상원씨, 상원씨는 오늘 잘 보내고 있나요?'
s.replace("상원", '연재')

'안녕하세요, 연재씨, 연재씨는 오늘 잘 보내고 있나요?'

In [49]:
# split()
s = "우석, 우건, 준범, 동완"
s.split(",")[0]

'우석'