In [2]:
# 예시 함수를 하나 만들어보자
def hello(name) : 
    return f"{name}씨 안녕하세요"

In [3]:
hello('규원')

'규원씨 안녕하세요'

In [5]:
hello('지금 졸고 있는 상원')

'지금 졸고 있는 상원씨 안녕하세요'

In [14]:
# 함수 제작
def number_minus(num1, num2) :
    if num1 > num2 :
        result = num1 - num2
    else :
        result = num2 = num1
    return result

In [17]:
num1 = int(input("첫 번재 정수 입력 >> "))
num2 = int(input("두 번재 정수 입력 >> "))
result = number_minus(num1, num2)
result

첫 번재 정수 입력 >> 10
두 번재 정수 입력 >> 3

7

In [10]:
def cal(num1, num2, op):
    """덧셈과 뺼셈을 해주는 함수"""
    if op == '+':
        result = num1 + num2
    else :
        if num1 > num2 :
            result = num1 - num2
        else :
            result = num2 - num1
    return result

In [9]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
op = input('연산자 입력(+,-) >> ')
result = cal(num1, num2, op)
print(f'결과: {result}')

첫 번째 정수 입력 >> 8
두 번째 정수 입력 >> 6
연산자 입력(+,-) >> +
결과: 14

In [12]:
# 여러 개의 숫자를 받아서 모두 더해주는 함수를 만들어보자
def add(*args):
    return sum(args)

In [15]:
add(1,4,5,6,76,7)

99

In [16]:
def add_sum(num1, num2):
    return num1+num2, num1-num2

In [25]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
result = add_sum(num1, num2)
print(f'결과: {result}')

첫 번째 정수 입력 >> 5
두 번째 정수 입력 >> 3
결과: (8, 2)

In [19]:
# 값을 하나씩 가져오는 방법1 : 인덱싱
result[0]

8

In [23]:
# 값을 하나씩 가져오는 방법2 : 다중 변수 입력
result_add, result_minus = add_sum(5,3)
print(result_add)
print(result_minus)

8
2

In [29]:
# 함수 기본값 설정하기
def power_of_n(num, power=2) :
    return num ** power

In [32]:
power_of_n(4,3)

64